* {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;

}

body {
    background-color: white;
    overflow: scroll;
}

.navbar {
    height: 60px;
    width: 97vw;
    background-color: #0F1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0px;
    z-index: 7;
    padding: 0 2vw;


}

.nav-logo {
    height: 50px;
    width: 130px;

}

.logo {
    background-image: url("th.jpeg");
    background-size: cover;
    height: 50px;
    width: 100%;
}

.border {
    border: 1.5px solid transparent;
}

.border:hover {
    border: 1.5px solid white;
}

.nav-adress {
    display: inline;
    height: 50px;



}

.first {
    color: #CCCCCC;
    font-size: 12px;
    margin-left: 15px;

}

.second {
    font-size: 14px;
    margin-left: 2px;

}

.add-location {
    display: flex;
    align-items: center;
}

.drop {
    background-color: #E6E6E6;
    height: 41.6px;
    width: 50px;
    text-align: center;
    color: #2d2e2e;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.drop:hover {
    background-color: #a3a2a2f3;
    color: black;
}

.search {
    height: 35.8px;
    width: 100%;

}

.search-logo {
    height: 41.6px;
    width: 45px;
    background-color: rgb(225, 174, 79);
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 25px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;

}

.search-logo:hover {
    background-color: rgb(199, 139, 27);

}

.nav-search {
    background-color: #0F1111;
    width: 800px;
    display: flex;
    justify-content: space-evenly;
}

.language {
    height: 50px;
    background-color: #0F1111;
    width: 78.1px;
    display: flex;
    justify-content: center;
    align-items: center;


}

.flag {
    height: 18px;
    width: 25px;
    background-color: #070707;
    background-image: url("download.jpg");
    background-size: cover;

}

.lang {
    height: 20px;
    width: 40px;
    color: aliceblue;
    background-color: #0F1111;
    border: transparent;
}

.sign {
    background-color: #0F1111;
    height: 50px;
    width: 153px;
    justify-content: center;
    align-items: center;


}

.Account {
    display: flex;
    font-size: 14px;
    justify-content: center;
    align-items: center;
    font-weight: bolder;

}

.list {
    background-color: #0F1111;
    border: transparent;
    color: #E6E6E6;
    font-weight: bolder;

}

.hello {
    margin-left: 20px;
    margin-top: 2px;
}

.ro {
    background-color: #0F1111;
    height: 50px;
    width: 76px;


}

.cart {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 84px;

}

.navbarrr {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #172222;
    color: white;
    height: 39px;
    width: 100vw;
    position: fixed;
    top: 60px;
    z-index: 7;

}

.all {
    width: 58px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Fresh {
    display: flex;
    align-items: center;
    height: 35px;
    width: 68px;
    background-color: #172222;
    color: white;
}

.mx {
    display: flex;
    align-items: center;
    height: 35px;
    width: 74px;
    justify-content: center;

}
.img_1{
    height:64vh;
    width: 98%;
    background-color:  #061111;
    margin: 20px;
    position: relative;
    top:100px;
}
.imgop{
    position:relative;
    top:30px;
    left:50%;
}
.img_1_annouced{
    color:white;
    position:absolute;
    top:20%;
    left:15%;
    height:40%;
    width: 35%;
}
.signin {
    height:70px;
    width: 200px;
    font-size: 30px;
    font-weight: bolder;
    border-radius:35px;
    background-color: orange;
    border: 4px solid white;
    position:relative;
    top:50px;
    transition: transform .5s ease-in-out;
}
.signin:hover{
    transform: scale(1.1);
}
.arrow{
    transition: transform 0.5s ease-in-out;
}
.arrow:hover{
    transform: translateX(10px);
}
.drop_free{
    height:100px;
    width: 99%;
    display: flex;
    position: relative;
    top:100px;
    align-items: center;
    justify-content:center;
    font-weight: bolder;

}
.prices{
    width: 99%;
    height:300px;
    position: relative;
    top:100px;
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 30px;
   
}
.price_1{
    width: 400px;
    height:200px;
    background-color: rgb(148, 234, 248);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:10px
}
.price_2{
    width: 400px;
    height:200px;
    background-color: rgb(148, 234, 248);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:10px
}
.price_3{
    width: 400px;
    height:200px;
    background-color: rgb(148, 234, 248);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:10px
}
.category_1{
    width: 99%;
    height:100vh;
    position: relative;
    top:100px;
    display: flex;
    justify-content: center;

}
.apparel_Home{
    height: 35%;
    width:1500px;
    display:flex;
    justify-content:center;
    align-items: center;
    gap:80px;
}
.shoes_Jewelry{
    height: 35%;
    width:1500px;
    display:flex;
    justify-content:center;
    align-items: center;
    gap:80px;
}
.apparel{
    height: 300px;
    width: 500px;
   background-color: rgb(247, 231, 191);
    border-radius: 10px;
}
.i_1{
    position: absolute;
    top:65px;
    left:35%;
    
}
.i_2{
    position: absolute;
    top:65px;
    left:68%;
    
}
.i_3{
    position: absolute;
    top:390px;
    left:36%;
    
}
.i_4{
    position: absolute;
    top:390px;
    left:68%;
    
}
.know_more{
    margin-left:38%;
    font-size: 20px;
    font-weight: bolder;
    height: 50px;
    width: 400px;
    border-radius: 25px;
    background-color: orange;
    border: none;
    box-shadow:0 0 20px rgba(0, 0, 0, 0.5) ;
}
.know_more:hover{
  box-shadow:0 0 20px rgba(0, 0, 0, 0.8) ;
}
.home_1{
    height: 300px;
    width: 500px;
    background-color: rgb(247, 231, 191);
    border-radius: 10px;
}
.announcement{
    width: 80%;
    height:420px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    position: relative;
    top:100px;
    margin:auto;
  
    border-radius: 10px;
}
.howtosell{
    margin: auto;
    height: 80vh;
    width: 80%;
    border: 3px solid lightskyblue;
    position: relative;
    top:150px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
.howtosell_information{
    margin: auto;
    width:95%;
    height:40%;
    display: flex;
    flex-wrap: nowrap;
}
.hts_1,.hts_2,.hts_3,.hts_4{
    width: 50%;
    height: 80%;
    margin: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-size: 20px;
}
.whybecomeseller{
    height:100px;
    width: 99%;
    display: flex;
    position: relative;
    top:200px;
    align-items: center;
    justify-content:center;
    font-weight: bolder;
}
.prices_2{
    width: 99%;
    height:300px;
    position: relative;
    top:200px;
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 30px;
}
.price_11,.price_22,.price_33{
    width: 460px;
    height:240px;
    background-color: white;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:10px;
    box-shadow:0 0 20px rgba(0, 0, 0, 0.5) ;
}
.glow{
    background-color: green;
    color:white;
    font-weight: bolder;
    font-size: 20px;
    width: 230px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    gap: 10px;   
}
.glow_2{
    background-color: rgb(255, 0, 0);
    color:white;
    font-weight: bolder;
    font-size: 20px;
    width: 230px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;  
    margin-top: 55px;
    gap: 10px;   
 
}
.sell_1{
    margin-left:44%;
    font-size: 20px;
    font-weight: bolder;
    height: 50px;
    width: 200px;
    border-radius: 25px;
    background-color: orange;
    border: none;
    position: absolute;
    top:410vh;
    box-shadow:0 0 20px rgba(0, 0, 0, 0.5) ;
}
.img_5{
   position:absolute;
   bottom: 5%;
   left: 80%;
}
.blink{
    display: inline-block;
    transition: blinker 0.5s infinite;
}
@keyframes blinker {
   0%{
    opacity: 1;
   }
   50%{
    opacity:0;
   }
   100%{
    opacity: 1;
   }
}
.backtotop {
    background-color: #2c3b4d;
    display: flex;

    justify-content: space-evenly;
    align-items: center;
    margin-top: -10%;
    width: 100%;
    height: 50px;
    position: absolute;
    top:440vh;



}

.backtotop:hover {
    background-color: #425770;
    ;
}

.information {
    background-color: #232F3E;
    width: 100%;
    height: 500px;
    position: relative;
    top:350px;


}

.secondlast {
    background-color: #232F3E;
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    top:350px;


}

.last {
    background-color: #040707;
    width: 100%;
    font-size: 12px;
    height: 220px;
    margin-bottom: 0px;
    margin-top: 350px;
    color:white; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    align-items: center;
    column-gap:10px;


}
.last li{
    color:gray
}
.last li b{
    color:white
}

.information {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid rgb(255, 255, 255);

}

.underline:hover {
    border-bottom: 1px white solid;

}

.img {
    height: 69px;
    width: 160px;
    background-image: url("Screenshot 2025-03-09 072053.png");
    background-size: cover;
    position: relative;
    left: 300px;

}

.earth {
    height: 20px;
    width: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    padding: 10px;
    border: 1px white solid;
    border-radius: 3px;
    position: relative;
    left: 80px
}

.flag2 {
    height: 15px;
    width: 25px;
    background-image: url("download.jpg");
    background-size: cover;
}

.india {
    height: 40px;
    width: 140px;
    border: 1px white solid;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: -60px;
    position: relative;
    right: 200px;
}
.last1{
    color: gray;
    font-size: 12px;
    background-color: black;
    height:10vh;
    width: 100vw;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;

}




/* FOOTER */
.footer {
    background-color: #232F3E;
    padding: 20px;
    color: white;
    text-align: center;
}

/* BACK TO TOP */

.backtotop:hover {
    background-color: #425770;
}

.menubar{
   background-color:white;
    height: 100vh;
    width: 350px;
    position:fixed;
    top:0px;
    z-index: 100;
    transform: translateX(-350px);
    transition: transform .5s ease-in-out;
    overflow-y: scroll;
    

}
.slideit{
    transform: translateX(0px);
}
.cancel{
    color: white;
    background-color: rgb(0, 0, 0,0.2);
    height:50px;
    width: 50px;
    border-radius: 10px;
    position: fixed;
    z-index: 12;
    left:350px;
    top:0px;
    font-size: 20px;
    border: 2px solid white;
    display: none;
}
.display2{
  display: block; 
}
.blur{
    display:none;
    height:200%;
    width: 100%;
    position: fixed;
    top:-100px;
   
z-index: 9;}
.blur2{
    background-color:rgb(0, 0, 0,0.8);
    display: block;
}
.menubar ul li{
    margin-bottom: 10px;
    margin-top: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 40px;
    margin-left: -20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.menubar ul li b{
    font-size:19px;
}
.menubar ul li:not(:has(b)):hover{
       background-color: #ccced0;
}
.freshimg{
    height:254px;
    width: 375px;
    background-color: rgb(255, 255, 255);
    position: fixed;
    top:100px;
    left:150px;
    display: none;
    z-index: 11;
    
  
}
.fjko{
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    height: 320px;
    width: 320px;
}
.disappear{
    display:flex;
    align-items: center;
    flex-direction: column;
   
    
}
.z{
    z-index: 15;
}
.fim{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 150px;
    width: 150px;
    background-color: rgb(244, 239, 239);
}
.fim:hover{
    background-color: #e0dddd;
}
.nib{
    height: 20px;
    width:20px;
    background-color:white;
    position: fixed;
    top:90px;
    left: 206px;
    z-index: 19;
    transform: rotate(45deg);
    display: none;
}
.appear{
    display: block;
}
.primeimg{
    height:280px;
    width: 300px;
    background-color: rgb(255, 255, 255);
    position:fixed;
    top:100px;
    left:1450px;
    display:none;
    border-radius: 5px;
    z-index: 11;
}
.primeappear{
   
    display:flex;
    align-items:center;
    justify-content: center;
}
.nib2{
    height: 20px;
    width:20px;
    background-color:white;
    position: fixed;
    top:90px;
    left: 1495px;
    z-index: 19;
    transform: rotate(45deg);
    display: none;
}
.appear2{
    display: block;
}
.eeee{
  display: none;
  margin-left: -35px;
}

